<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ایجاد دسته بندی</title>
    <!-- Include Bootstrap CSS from CDN with custom dark theme -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
            @font-face {
      font-family: 'iransans';
      src: url('../font/Woff2/IRANSansXFaNum-Light.woff2') format('woff2'),
          url('../font/Woff/IRANSansXFaNum-Light.woff') format('woff');
      /* Add additional src lines for other font formats if necessary */
      font-weight: bold;
      font-style: normal;
  }
        body {
            background-image: url('/img/login.jpg');

            color: #fff;
            font-family: iransans;
            direction: rtl;

        }
        .container {
            

            position: absolute;
            top:20%
            
        }

    </style>
</head>
<body>
    <div class="container mt-5 row" style="display: block;">
        <div class="d-flex justify-content-center align-items-center w-20" >
            <div class="w-50">
                <form action="/add-category" method="get">

                    <div class="mb-3">
                        <label for="name" class="form-label">عنوان دسته بندی</label>
                        <input type="text" class="form-control" name="title" id="name" placeholder="نام دسته بندی را وارد کنید" required>
                    </div>
                    <div class="mb-3" style="display: none;">
                        <label for="username" class="form-label">عنوان</label>
                        <input type="text" class="form-control" name="username" id="username" value="<%= username %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">توضیحات (اختیاری)</label>
                        <textarea class="form-control" id="description" name="description" style="resize: none;" rows="3" placeholder="توضیحات لازم را وارد کنید"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">ثبت دسته بندی</button>
                </form>
            </div>
        </div>


        <div class="row m-5">
            <h3>دسته بندی ها</h3>
            <table>
                <tr>
                    <td>نام دسته بندی</td>
                    <td>توضیحات</td>
    
                </tr>
                
                <% categories.forEach(item=>{%>
    
                    <tr>
                        <td><%= item.title %></td>
                        <td class="text-nowrap"><%= item.description %></td>
    
                    </tr>
        
                <%})%>
                
    
            </table>
    
        </div>
        
    </div>

<!--Categories-->
    

</body>
</html>